@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
:root {
    --black: #383630;
}

body {
    color: var(--black);
    font-family: 'Nunito Sans';
    background-color: hsla(45, 4%, 96%, 1);
    margin: 0px;
}

.bg-container {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    border-bottom-style:solid;
    border-bottom-width: 8px;
}

.bg {
    width: 100%;
    height: 497px;
    object-fit: cover;
    object-position: 50% 80%;
}

h1 {
    text-align: center;
    padding-top: 0px;

    font-size: 53px;
    padding-bottom:  0px;
    margin-top: 36px;
    margin-bottom: 10.51;
}

hr {
    width: 659px;
    border-style: solid;
    border-width:  1px;
}

h2 {
    text-align: center;
    padding-top: 4px;
}

.btn:hover {
    background-color: hsla(41, 20%, 79%, 0.6);
}

.btn {
    color: var(--black);
    border-style: solid;
    padding: 10px;
    background-color: #efefef17;
    font-size: 22px;
    border-radius: 5px;
    border-color: var(--black);
    border-width: 2px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 2px;
    margin: 5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
    cursor: pointer;
}

.arrow-cont {
    position: fixed;
    bottom: 62px;
    left: 0px;
    text-align: center;
    width: 100%;
    color: hsla(45, 8%, 34%, 1);
}

.arrow-text {
    padding: 16px;
    font-size: 21px;
}

.arrow {
    font-size: 40px;
}