header{
    padding: 50px;
    padding-left: 0px;
    background-color: #7A9F35;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7a9f35+0,556d25+98 */
    background: #7a9f35; /* Old browsers */
    background: -moz-linear-gradient(-25deg, #7a9f35 0%, #556d25 98%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-25deg, #7a9f35 0%,#556d25 98%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(164deg, #7a9f35 0%,#556d25 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a9f35', endColorstr='#556d25',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    margin-bottom: 20px;
}

header .icons{
    margin-top: 18px;/*HACK!*/;
}

header .links > *{
    color: black;
    margin-right: 5px;
}

.project{
    margin-bottom: 10px;
}

.project .top-line {
    display: inline-block;
}

.project .name{
    font-size: 24px;
    margin-bottom: 1px;
    display: inline-block;
    vertical-align: middle;
}

.project .languages{
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}

.project .languages > *{
    display: inline-block;
    /* background-color: #D2EE9E; */
    padding: 1px;
    border-radius: 2px;
    border-style: solid;
    margin-left:2px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 2px;
}

.project .description{
    margin-left: 30px;
    color: grey;
    font-style: italic;
}

.project .links > *{
    padding-right: 5px;
    border-right-style: solid;
    border-right-color: #D4D4D4;
    border-right-width: 1px;
}

.project .links > *:last-child{
    border-right-style: none;
}

.connections{
    margin-top: 21px;
}

.connections .description {
    display: inline;
    vertical-align: middle;
    margin-left: 10px;
}

.connections .connection {
    margin-bottom: 11px;
    background-color: #AAC774;
    padding: 15px;
    width: 142px;
    display: inline;
    margin-left: 8px;
    /*turn off link colours*/
    color: inherit;
    text-decoration: none;
}

.connections .connection:first-child{
    margin-left: 0px;
}

.connections .image-cont{
    display: inline;
}
