:root {
    --primary-color: #7A9F35;
}
/*prev #C17979*/

/*http://paletton.com/#uid=12n0u0klllraIwbg4qKqBgcvXaQ*/


/*Animations*/

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translate(-10px, 0px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.fade-in{
    animation-name: fade-in;
    animation-duration: 1s;
}

.domino-fade-in>*{
    animation-play-state: paused;
    animation-name: fade-in;
    animation-duration: 0.5s;
    visibility: hidden;
}

.domino-fade-in>* *{
    transform: inherit;
}

/*Generic rules*/
body {
    color: rgb(31, 37, 51);
    background-color: #DFEDC5;
}

section>.content{
    margin-left: 10px;
}
