:root {
    --primary-color: #7A9F35;
}
/*prev #C17979*/


/*Animations*/

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translate(-5px, 0px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.fade-in{
    animation-name: fade-in;
    animation-duration: 1s;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

body {
    color: rgb(31, 37, 51);
}

.cont{
    padding-left: 50px;
}
